
.header{
    height: 70px;
    background-color: whitesmoke;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu-icon{
    height: 50px;
    width: 50px;
    margin-left: 20px;
    margin-right: 10px;
}
.menu-icon:hover{
    cursor: pointer;
    opacity: 0.8;
}
.website-icon-name{
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;margin-left: 10px;
;
}
.website-icon{
    height: 50px;
    width: 50px;
    
    margin-right: 10px;
}
.website-name{
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.right{
    width: 250px;
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-button{
    border: 1px solid lightgray;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    margin-left: 10px;
}
.right button:hover{
    opacity: 0.8;
}
.share-button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid lightgray;
    cursor: pointer;
}
.share-icon{
    background-color: transparernt; height: 24px; width: 24px; margin-right: 6px;
}